<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BrandMapper">

    <resultMap id="brandResultMap" type="brand">
        <result column="brand_name" property="brandName"></result>
        <result column="company_name" property="companyName"></result>
    </resultMap>
    <insert id="add">
            insert into tb_brand values (null,#{brandName},#{companyName},#{ordered},#{description},#{status})
    </insert>
    <delete id="delectByIds">
        delete from tb_brand where id in
<foreach collection="ids" item="id" separator="," open="(" close=")">
    #{id}
</foreach>
    </delete>


    <select id="selectAll" resultType="pojo.Brand" resultMap="brandResultMap">
        select * from tb_brand
    </select>
    <select id="selectByPage" resultType="pojo.Brand"  resultMap="brandResultMap">
        select * from tb_brand limit #{being},#{pagecount}
    </select>
    <select id="count" resultType="java.lang.Integer" >
        select count(*) from tb_brand
    </select>
    <select id="selectBrandByCondition" resultType="pojo.Brand" resultMap="brandResultMap">
        select * from tb_brand where status=#{status} and company_name =#{companyName} and brand_name=#{brandName}
    </select>
</mapper>